# Dependencies
node_modules/
**/node_modules/

# Python
__pycache__/
*.py[cod]
*.class
.venv/
env/
venv/

# Build outputs
dist/
**/dist/

# Environment files
.env
.env.local
.env.*.local
*.env

# Vercel
.vercel

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
/supabase
**/.temp/
