@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141413;
  color: #F2EEE4;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #141413;
}
::-webkit-scrollbar-thumb {
  background: #2E2C29;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C1673D;
}
